<%= form_with model: [ @article, @article.comments.build ] do |form| %>

    <%= form.hidden_field :user_id, :class => "form-control", :value => current_user.id, :readonly => true, :style => 'display:none' %>
   
    <div class="container-fluid text-start">
      <%= form.text_area :body, :class => "form-control" %>
    </div>

    <br>
    <div class="container-fluid text-start">
      <div class="row">
        <div class="col col-2">
        <%= form.label :status, :class => "form-label" %>
        </div>
        <div class="col col-1">
          <%= form.select :status, Visible::VALID_STATUSES, selected: 'public', :class => "form-control" %>
        </div>
      </div>
    </div>

    <hr>
    <div class="container-fluid text-start">
      <%= form.submit :class => "btn btn-primary btn-sm" %>
    </div>
  <% end %>
  